<div class="row">
        <div class="col-md-12">
            <div class="card card-body ">
               
                <div class="row printableArea">
                    <div class="col-md-12">
                            <h3><b>INVOICE</b> <span class="pull-right">#5669626</span></h3>
                            <hr>
                    </div>
                    <div class="col-md-12">
                        <div class="pull-left">
                            <address>
                                <h3> &nbsp;<b class="text-danger">Moikzz Admin</b></h3>
                                <p class="text-muted m-l-5">E 104, Dharti-2,
                                    <br> Nr' Viswakarma Temple,
                                    <br> Talaja Road,
                                    <br> Bhavnagar - 364002</p>
                            </address>
                        </div>
                        <div class="pull-right text-right">
                            <address>
                                <h3>To,</h3>
                                <h4 class="font-bold">Gaala &amp; Sons,</h4>
                                <p class="text-muted m-l-30">E 104, Dharti-2,
                                    <br> Nr' Viswakarma Temple,
                                    <br> Talaja Road,
                                    <br> Bhavnagar - 364002</p>
                                    <p class="m-t-30"><b>Invoice Date :</b> <i class="fa fa-calendar"></i> 14 Apr 2019</p> 
                                <p><b>Payment Date :</b> <i class="fa fa-calendar"></i> 14 Apr 2019</p>
                            </address>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="table-responsive m-t-40" style="clear: both;">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th>Ref Number</th>
                                        <th class="text-right">Invoice Date</th>
                                        <th class="text-right">Invoice Amount</th>
                                        <th class="text-right">Payment Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td></td>
                                        <td class="text-right">14-04-2019</td>
                                        <td class="text-right"> 150 AED</td>
                                        <td class="text-right"> 150 AED</td>
                                    </tr> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="pull-right m-t-30 text-right"> 
                           
                            <h3><b>Total :</b> 13,986 AED</h3>
                        </div>
                       
                       
                    </div> 
                </div>
                <div class="row"> 
                    <div class="col-md-12">
                        <div class="clearfix"></div>
                        <hr>
                        <div class="text-right"> 
                            <button id="print" class="btn btn-default btn-outline" type="button"> <span><i class="fa fa-print"></i> Print</span> </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>